<div style="position:absolute;left:50px;top:50px;font-family:sans-serif;z-index:1;">
<h1>DumbbellCollider</h1>
<h2>by Ryan Denlinger</h2>
<p><em><b>Click anywere to randomly load new initial conditions.</b></em></p>
</div>

<div id="diskbouncer" style="width:100%;left:0px;top:0px;">
<div id="innerbox" style="position:absolute;left:0px;top:0px;width:800px;height:800px;">
    <canvas id="db" width="800" height="800"></canvas>
</div>
    </div>
    
